
server {
      listen 80;
      server_name learning-platform.com;
      location / {

            proxy_pass http://localhost:${PUBLIC_FRONTEND_BLOG_APP_PORT};
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
            proxy_set_header X-Original-URI $request_uri;
      }
}

server {
      listen 80;
      server_name platform.learning-platform.com;
      location / {
            proxy_pass http://localhost:${PUBLIC_FRONTEND_PLATFORM_APP_PORT};
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
            proxy_set_header X-Original-URI $request_uri;
      }
}
